html, body {
    height: 100%;
}

html {
    margin: auto;
    width: 900px;
}

body {
  vertical-align: middle;
  display: contents;
}

h1 {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

h2 {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

h3 {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
}

h4 {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

p {
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  word-wrap: break-word
}
